body {
  background-color: var(--gray-500);
}

.projects {
  padding-top: 8.0625rem;
  text-align: center;
  overflow-x: hidden;

  & strong {
    font: var(--text-subtitle);
    color: var(--red);
  }

  & h2 {
    font: var(--title-md);
    color: var(--gray-100);
    margin-top: 0.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    max-width: 65rem;
    margin: 3.5rem auto;
    padding: 1.25rem;
  }

  .project-card {
    background: var(--gray-400);
    border-radius: 0.75rem;
    padding: 0.9375rem;
    text-align: left;

    cursor: pointer;
    padding-bottom: 1.5rem;
  }

  & img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
  }

  & span {
    display: inline-block;
    margin-top: 1.5rem;
    font: var(--title-sm);
    color: var(--gray-100);
  }

  & p {
    margin-top: 0.5rem;
    padding-bottom: 1.0625rem;
    font: var(--text-sm);
    color: var(--gray-200);
  }

  .project-card a {
    position: relative;
    z-index: 10;
  }
}

/* Tablets: até 1024px */
@media (max-width: 1024px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 3rem auto;
    gap: 1rem;
  }

  .project-card {
    padding: 0.75rem;
  }

  .projects h2 {
    font-size: 1.75rem;
  }

  .projects span {
    font-size: 1rem;
  }

  .projects p {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .projects .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.5rem;
  }

  .project-card {
    padding: 0.625rem;
  }

  .projects h2 {
    font-size: 1.5rem;
  }

  .projects span {
    font-size: 0.875rem;
  }

  .projects p {
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
